.board {
  position: relative;
  display: grid;
  margin: 25vmin auto;
  height: 50vmin;
  aspect-ratio: 1;
  border: 1px solid;
  box-sizing: border-box;
}

.tile {
  aspect-ratio: 1;
  margin: 0.1rem;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: rgb(51, 51, 51);
}

.grass {
  background-color: rgb(94, 190, 81);
}
.tent {
  background-color: rgb(255, 189, 8);
}
.tree {
  background-color: rgb(30, 71, 11);
}

.num {
  position: absolute;
  top: -15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 5vmin;
  color: white;
}

.row {
  top: 0;
  left: -10%;
  width: auto;
  height: 100%;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .board {
    margin: 20vmax auto;
    height: 70vmin;
  }

  .num {
    top: -20%;
    font-size: 10vmin;
  }

  .row {
    top: 0;
    left: -15%;
  }
}
