.board {
  position: relative;
  display: grid;
  margin: 25vh auto;
  height: 50vh;
  aspect-ratio: 1;
  border: 1px solid;
  box-sizing: border-box;
}

.tile {
  aspect-ratio: 1;
  border: 1px solid;
  box-sizing: border-box;
}

.grass {
  background-color: rgb(109, 209, 96);
}
.tent {
  background-color: rgb(249, 253, 1);
}

.tree {
  background-color: rgb(36, 104, 4);
}

.num {
  position: absolute;
  top: -15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 5vh;
}

.row {
  top: 0;
  left: -10%;
  width: auto;
  height: 100%;
  flex-direction: column;
}
